{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "extends": ["airbnb/base"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "off",
    "no-unused-vars": "off",
    "indent": [2, "tab"],
    "no-tabs": 0,
    "no-param-reassign": 0,
    "no-plusplus": "off",
    "max-classes-per-file": ["error", 3],
  },
  "parser": "@babel/eslint-parser",
}
